{% extends 'supplier/supplier_nav.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<head>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
{% block content %}
<section class="main" style="height:auto;">
    <div class="main-div">
        <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Food Image</label>
                <img width="400px" height="400px" class="rounded mx-auto d-block" src="{{surplus.image.url}}">
            </div>

            {% bootstrap_form form_key %}
            <div class="mb-3">
                <label class="form-label">Uploaded On</label>
                <input class="form-control" disabled type="text" value="{{surplus.uploaded_on}}">
            </div>
            <div class="mb-3">
                <label class="form-label">Time Expire At</label>
                <input class="form-control" disabled type="text" value="{{surplus.time_expire}}">
            </div>
            <div class="mb-3">
                <input class="btn btn-outline-success mx-auto d-grid gap-2 col-12" type="submit" value="Update">
            </div>
            <br>
            <br>
        </form>

    </div>
</section>
{% endblock content %}
