{% extends 'user/user_nav.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<head>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
{% block content %}
<section class="main" style="height:auto;">
        <center><h4> Profile View  </h4></center>
        <center>
    <div class="col-xs-12"  style="padding:10px;">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-warning" role="alert" style="width:50%;">
                <li style="list-style-type: none;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    </center>
    <div class="main-div">
        <form action=""   method="post">
            {% csrf_token %}
               <div class="mb-3">
                <label class="form-label">Profile Pic</label>
                <img class="rounded mx-auto d-block" src="{{users.profile_pic.url}}">
            </div>
            <div class="mb-3">
                <label class="form-label">User Id</label>
                <input class="form-control" disabled type="text" value="{{users.reg_id}}">
            </div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" disabled type="text" value="{{users.name}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlTextarea1">Address</label>
                <textarea class="form-control" disabled id="exampleFormControlTextarea1"
                          rows="3">{{users.address}}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input class="form-control" disabled type="text" value="{{users.phone_no}}">
            </div>
            <div class="mb-3">
                <label class="form-label">State</label>
                <input class="form-control" disabled type="text" value="{{users.state}}">
            </div>
            <div class="mb-3">
                <label class="form-label">District</label>
                <input class="form-control" disabled type="text" value="{{users.district}}">
            </div>
            <div class="mb-3">
                <label class="form-label">City</label>
                <input class="form-control" disabled type="text" value="{{users.city}}">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" disabled type="text" value="{{users.email}}">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" disabled type="password" value="{{users.password}}">
            </div>
            <div class="mb-3">
                <label class="form-label">Id Proof</label>
                <img class="rounded mx-auto d-block" src="{{users.id.url}}">
            </div>

            <div class="mb-3">
                <a class="btn btn-primary mx-auto d-grid gap-2 col-12"
                   href="{% url 'edit_user_profile' login_id %}"> Edit</a>
            </div>
            <br>
            <br>
        </form>

    </div>
</section>

{% endblock content %}
